<a href="https://colab.research.google.com/github/vvthakral/Python-for-AI-Data-Science/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#This notebook contains the basics of python language.
#By [Vishnu Thakral](https://www.linkedin.com/in/vishnuthakral/) and [Darshan Solanki](https://www.linkedin.com/in/darshan-solanki/)

In [0]:
#Like any other language we can will start with printing Hello World.(very simple in python)
print("Hello World")

Hello World

#Zen of Python
The best Python practices suggested by the creator by Guido van Rossum.

It's always good to abide by the zen even when you have an opportunity to show off your pythonic skills :)

In [0]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Help 
One of the most useful function.

In [0]:
import math
#To know more about each method functionality use of help is indeed help
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

# Accessing Attributes/Methods of any object

In [0]:
import math
#To know methods inside a module kindly make use of 'dir'
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

# Basic Data types in Python

In [0]:
# The basic datatypes are str, int, float, list, set, dict. It is advised not to use them for naming a variable.

In [0]:
string = 'Vishnu' + ' Thakral' #We can directly add strings in this manner
integer = 5 
floats = 5.1212
lists = [1,3,5,5]
list_of_tuples = [(1,3),(3,4,5),(5,4)]
sets = set((1,2,3,3))
dictionary = {'Mr.X':'Inventor','Profession':'Research','Location':'Earth'}
boolean = True
none_type = None

print(string,type(string)) #type prints the type of the object it is called on.
print(integer,type(integer))
print(floats,type(floats))
print(lists,type(lists))
print(list_of_tuples,type(list_of_tuples))
print(sets,type(sets))
print(dictionary,type(dictionary))

Vishnu Thakral <class 'str'>
5 <class 'int'>
5.1212 <class 'float'>
[1, 3, 5, 5] <class 'list'>
[(1, 3), (3, 4, 5), (5, 4)] <class 'list'>
{1, 2, 3} <class 'set'>
{'Mr.X': 'Inventor', 'Profession': 'Research', 'Location': 'Earth'} <class 'dict'>

# Commonly Used Operators and Assignment in Python

In [0]:
a = 10
b = 10

print('Add', a+b)  #Add
print('Subtract', a-b)  # Subtract
print('Divide', a/b)  #Divide  with return answer as floating point
print('Multiply', a*b)  #Mul
print('Floor Division',a//b) #Divide with integer return type
print('Mod', a%b)  #Mod
print('Power', a**b) #Pow

#Bitwise operators
print('XOR', a^b)  #XOR
print('And', a & b) #
print('Or', a | b) #OR
print('Not', ~a)    #NOT
print('Right shift', a >> 2) #right shift #divide by 2, 2 times
print('Left shift', a << 3) #left shift OR multiply by 2, 3 times

# Assignment Operator
print('A before assignment operators', a)
a += a
print('After add', a)
a -= b
print('After sub', a)
a *= b
print('After mul', a)
a /= b
print('After div', a)

print('a and b before swap are: ', a, b)
a,b = b,a
print('a and b after swap are: ', a, b)
a = b = 0
print('After final assignment: ', a, b)

Add 20
Subtract 0
Divide 1.0
Multiply 100
Floor Division 1
Mod 0
Power 10000000000
XOR 0
And 10
Or 10
Not -11
Right shift 2
Left shift 80
A before assignment operators 10
After add 20
After sub 10
After mul 100
After div 10.0
a and b before swap are:  10.0 10
a and b after swap are:  10 10.0
After final assignment:  0 0

# Type Casting

In [0]:
#string (str) to int

string = '10'
print('int typecasted is: ', int(string))
print()

#string to float
print('Float typecasted is: ',float(string))
print()

#string to list
lists = list(string)
print('Typecasted to list: ', lists)
print()

#list to string
print('List to string', ''.join(lists))
print()

#int to string
string = str(1) + '0'
print('Int to string', string)
print()

#ascii value of alpha numeric characters
print(chr(97))
print()

#string to ascii
print(ord('a'))
print()

#set to list
s = set((1,2,3,3,4,5))
list_s = list(s)
print(list_s)
print()

#tuple to list
tuples = ((1,2),(1,'darshan'),(4,'Brooklyn'))
list_tup = list(tuples)
print(list_tup)

int typecasted is:  10

Float typecasted is:  10.0

Typecasted to list:  ['1', '0']

List to string 10

Int to string 10

a

97

[1, 2, 3, 4, 5]

[(1, 2), (1, 'darshan'), (4, 'Brooklyn')]

# Basic Imports

In [0]:
import random

#start and end paramaters
print('Generating random range from start and end range inclusive ',end='')
print(random.randint(5,10))

print()
print('Exploring built in methods of Math library')
import math
print('Inbuilt constant ',math.pi)
print('Sqrt of 25 ',math.sqrt(25))
print('Ceil value',math.ceil(10.56))
print('Floor value',math.floor(5.3))

print()
import numpy as np
print('Array of type ',type(np.array([[1,2,3],[4,5,6]])),'\n')

print('Working with Datetime')
import datetime
date = datetime.datetime.now()
print(date)
print(type(date))

#import only specific classes from module

print('\nExploring DateTime module..')
from datetime import date
print ("The represented date is : ",end="") 
print (datetime.date(2019,4,1)) 
  
# using today() to print present date 
print ("Present date is : ",end="") 
print (date.today()) 
print()

print ("The calculated date from seconds is : ",end='')
print()

print (date.fromtimestamp(3452435))

Generating random range from start and end range inclusive 10

Exploring built in methods of Math library
Inbuilt constant  3.141592653589793
Sqrt of 25  5.0
Ceil value 11
Floor value 5

Array of type  <class 'numpy.ndarray'>

Working with Datetime
2020-04-25 02:17:55.637208
<class 'datetime.datetime'>

Exploring DateTime module..
The represented date is : 2019-04-01
Present date is : 2020-04-25

The calculated date from seconds is :
1970-02-09

# Lists

In [0]:
#list Operator

#initialize ways
list_1 = list()
print()

#check the type of the variable
print(type(list_1))
print()

list_num = [1,2,3,5]
print(list_num)
print()

list_object = ['1','2',777,'%','delhi','^']
print(list_object)
print()

#operator automatically computed when given inside list
list_operator = [1*2,'art'+'ist',10//2]
print(list_operator)

<class 'list'>

[1, 2, 3, 5]

['1', '2', 777, '%', 'delhi', '^']

[2, 'artist', 5]

# Access values from list

  Python allows negative indexing so if

  forward indexing is    0    1   2    3

Reverse Indexing is     -4   -3  -2   -1

In [0]:
print(list_object)

#Individual access
list_object[0]
print()

#From start to end
print(list_object[0:4])
print()

#Skipping in between
print(list_object[0:6:3])
print()

#Negative indices:
print(list_object[0:-2])
print()

#Negative ranges
print(list_object[-4:-1])

['1', '2', 777, '%', 'delhi', '^']

['1', '2', 777, '%']

['1', '%']

['1', '2', 777, '%']

[777, '%', 'delhi']

# Modify List

In [0]:
#Make Changes in the list
list_object.extend([0,1.2])
print(list_object)
print()

#Make Range of values changes
subset_items = [1,52,798,8]
list_object[0:4] = subset_items
print()

#Skipping changes
subset = ['2','45555','12']
list_object[0:5:2] = subset
print(list_object)

['1', '2', 777, '%', 'delhi', '^', 0, 1.2]


['2', 52, '45555', 8, '12', '^', 0, 1.2]

# Deleting values from List

In [0]:
#Delete element
list_object = [1,2,12,12,12,3,4,5,7]

#Can be used as stack and queue
list_object.pop(0) #queue
list_object.pop() #stack
list_object.pop(3) #index
print(list_object)
print()

#Raise an error when removing values from present in the list or list is empty
list_object.remove(12)
print(list_object)

[2, 12, 12, 3, 4, 5]

[2, 12, 3, 4, 5]

# Functionalities and Power of Lists

In [0]:
list_basics = [0]*5
print(list_basics)
#Concatenating two lists:
print()

even_num = [0,2,4,6]
odd_num = [1,3,5,7]

sum_num = even_num + odd_num
print('sum_num', sum_num)
print()

#Alternate way is using extend
sum_num = []
sum_num.extend(even_num)
sum_num.append(odd_num)
print('sum_num after extend and append', sum_num)
print()

#Using inbuilt functions
print(len(sum_num))
print(min(even_num))
print(max(even_num))
print(sum(even_num))

import statistics
print(statistics.median(even_num))

#Use functions in the list and unpack the values
# * - unpacking operator  

new_list = [*range(10,20)]
print(new_list)

[0, 0, 0, 0, 0]

sum_num [0, 2, 4, 6, 1, 3, 5, 7]

sum_num after extend and append [0, 2, 4, 6, [1, 3, 5, 7]]

5
0
6
12
3.0
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Basic of 2D list

In [0]:
list_2d = [[13,4,5,6],['a','b','c','d'],[1,2,3,4,5,6,7]]

#Whole list at particular index
print(list_2d[1])

#Access all list after given index
print(list_2d[1:])

#Alternative
print(list_2d[:][1:3])

#Individual elements:
print(list_2d[0][1])

['a', 'b', 'c', 'd']
[['a', 'b', 'c', 'd'], [1, 2, 3, 4, 5, 6, 7]]
[['a', 'b', 'c', 'd'], [1, 2, 3, 4, 5, 6, 7]]
4

# For loop

In [0]:
#Print in single line
for i in range(0,5):
  print(i, end = ' ')

#print()

#custom range
for i in range(1,0,-1):
  print('Previous print pointer is still on the same single ',i,'\n')

#Step parameter added in range
print('Step parameter addition')
for i in range(10,2,-2):
  print(i,end= ' ')

#Use of reverse
print('\nReversed print Order')
for i in reversed(range(4)):
  print(i)

#Unrolling any iterator for that matter
print('\nPrinting list values')
sums = [1,1,3,5]
for number in sums:
  print(number)

sum_num = []
for i in range(10):
  sum_num.append(i)
print(sum_num)
#One liner for loop
print('\nOne Linear For Loop')
sum_upto_10 = [ i for i in range(11)]
print(sum_upto_10)

#One Linear Nested for loop
print('\nOne Linear Nested for loop Matrix Multiplication\n')
matrix_mul = []
matrix_mul = [j*i for i in range(5) for j in range(5,10)]
print('Matrix Looks like:',matrix_mul)

print('\n\n#######Printing Matrix using Above Concepts of indicing########')
start = 0
end = 5
for i in range(5):
  print(matrix_mul[start:end])
  start = end 
  end += 5

0 1 2 3 4 Previous print pointer is still on the same single  1

Step parameter addition
10 8 6 4
Reversed print Order
3
2
1
0

Printing list values
1
1
3
5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

One Linear For Loop
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

One Linear Nested for loop Matrix Multiplication

Matrix Looks like: [0, 0, 0, 0, 0, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 15, 18, 21, 24, 27, 20, 24, 28, 32, 36]


#######Printing Matrix using Above Concepts of indicing########
[0, 0, 0, 0, 0]
[5, 6, 7, 8, 9]
[10, 12, 14, 16, 18]
[15, 18, 21, 24, 27]
[20, 24, 28, 32, 36]

# Defining functions of our own

In [0]:
#Fizz Buzz coding
# To define a function use the def keyword followed by func name with attributes (if any) passed.

def fizzBuzz():
  '''
  Given a range print Fizz if divisible by 3, Buzz if divisible by 5 else FizzBuzz if divisible by 3 and 5
  '''
  n = int(input('Enter a number '))
  #Python way
  count = 1
  while (count <= n):
    string = ''
    if (count %3 == 0):
      string = 'Fizz'
    if(count % 5 == 0):
      string += 'Buzz'
    
    print(count,string)
    count +=1
fizzBuzz()

Enter a number 5
1
2
3 Fizz
4
5 Buzz

In [0]:
def fizzBuzz():
  '''
  Same function as above with more if else conditions.
  '''
  n = int(input('Enter a number '))
  count = 1
  while(count <= n):
    if(count % 5 == 0 and count % 3 == 0):
      print(count,'Fizz Buzz')
    elif(count % 3 == 0):
      print(count,'Fizz')
    elif(count % 5 == 0):
      print(count,'Buzz')
    else:
      print(count)
    count +=1
fizzBuzz()

Enter a number 5
1
2
3 Fizz
4
5 Buzz

# Dictionary
We use key and not index to reference elements in dictionary

In [0]:
#Creating an empty dictionary
dict_ = {} # We defined dict_ and not dict 
#dict_ = {key:value,key:value} #Keys have to be in a set i.e they are to be unique
string = 'iamdictionaryiteratemeandseethefun'

for ch in string:
  if(ch in dict_):
    dict_[ch] +=1

  else:
    dict_[ch] = 1

for k,v in dict_.items():
  #pass
  print(f'Character {k} and its count {v}')

#if we try updating for a key that is present the original value will be overwritten

Character i and its count 4
Character a and its count 4
Character m and its count 2
Character d and its count 2
Character c and its count 1
Character t and its count 4
Character o and its count 1
Character n and its count 3
Character r and its count 2
Character y and its count 1
Character e and its count 6
Character s and its count 1
Character h and its count 1
Character f and its count 1
Character u and its count 1

In [0]:
#Print value for some key
print(dict_['i'])
print()

#Avoid error like these
#Error raised when key is not present in the dictionary
dict_['g']

4

KeyError: ignored

In [0]:
#To keep the function running avoiding errors like above we can use try and except blocks
try:
  print(dict_['g'])
except KeyError:
  print('The key was not found, you may try again.')

The key was not found, you may try again.

**Intuitive ways of creating custom dictionaries**

In [0]:
from collections import defaultdict

#Real world problem - [1,2] - Connection map from one city to another city
#Derive a graph mapping all the connection of cities includes in edges list_of_list

graph = defaultdict(list)
edges = [[1,2],[3,4],[2,4],[4,6],[3,5],[6,2],[1,7],[7,4]]

def addEdges(s,e):
  graph[s].append(e)
  graph[e].append(s)

for u,v in edges:
  addEdges(u,v)

for k,v in graph.items():
  print(f"Node {k} it's children {v}")

Node 1 it's children [2, 7]
Node 2 it's children [1, 4, 6]
Node 3 it's children [4, 5]
Node 4 it's children [3, 2, 6, 7]
Node 6 it's children [4, 2]
Node 5 it's children [3]
Node 7 it's children [1, 4]

**Fetching keys and values from dictionary**

In [0]:
#get keys and values seperately

keys = list(graph.keys())
values = list(graph.values())

print(keys)
print('-------------')
print(values)

print('\n\nIndividual access for given key')
#Get children for 7th node
print(graph[7])

#error raised when key not found in dict

#In this case it's outputting the answer. Think why?
print(graph[19])

#Why keys cannot be of list dataype in dictionary?

[1, 2, 3, 4, 6, 5, 7]
-------------
[[2, 7], [1, 4, 6], [4, 5], [3, 2, 6, 7], [4, 2], [3], [1, 4]]


Individual access for given key
[1, 4]
[]

# Sorting and Lambda Functions

In [0]:
#Sorting a list

#For sorting the dataype should be of same type
list_ = ['a','3232','21332','bsaa','87']
print('Ascending order ',list_)

#Insights of this sorting
result = []
for i in list_:
  sum_ = 0
  for j in i:
    sum_ = ord(j)
    break
  result.append(sum_)

#It checks the first character of a string if there is a match with other string then it goes 
print('Before sorting')
print(list_)
print(result)

print('---------------')
print('After sorting')
list_.sort()
result.sort()
print(list_)
print(result)

Ascending order  ['a', '3232', '21332', 'bsaa', '87']
Before sorting
['a', '3232', '21332', 'bsaa', '87']
[97, 51, 50, 98, 56]
---------------
After sorting
['21332', '3232', '87', 'a', 'bsaa']
[50, 51, 56, 97, 98]



#Sorted vs Sort

The primary difference between the list sort() function and the sorted() function.

sort() function will modify the list it is called on.The function modifies/sorts the list in-place and has no return value.

The sorted() function will create a new list containing a sorted version of the list it is given.

In [0]:
a = [1,3,2]
print('a before any sort: ', a)
b = sorted(a)
print('a after sorted: ',a)
print('b: ', b)
a.sort()
print('a after sort(): ', a)

a before any sort:  [1, 3, 2]
a after sorted:  [1, 3, 2]
b:  [1, 2, 3]
a after sort():  [1, 2, 3]

#Lambda functions and dictionary insights with sorting functions

In [0]:
#Lambda function 

print('Lambda Function')
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

#Can be interpreted as normal functions in python
def sumFunc(a,b,c):
  return a+b+c
sumFunc(5,6,2)

#One way of Initialzing Dictionary keys as Ages and value as name of Person
#Find drawback of such keys?
#Ans person could have same age and hence the previous values will be replaced with new person name.

dictonary = {67:"Rahul",23:"Darsh",12:"Dhaval",45:"Manish",11:"Dipam",99:"Darshan"}

#To sort values based on either key or values in the dictionary and supply order of sort in reverse parameter
tuples = sorted(dictonary.items(), key = lambda x: x[0], reverse = False)

#Note just in list tuple cannot be unpacked, it needs to be accessed index wise
#Print the sorted elements
print('Sorted on keys')
for elements in tuples:
    print(elements[0],"::",elements[1])


#Sort First on values and then keys, Interesting
tuples  = sorted(dictonary.items(),key = lambda x:(x[1],x[0]), reverse=False)
print('Sorted on first values and then keys\n')
for elements in tuples:
    print(elements[0],"::",elements[1])


#Ordered Dict sorts the dictionary but aligns the result as per the same order when it arrived
from collections import OrderedDict
d = OrderedDict()
d = {67:"Rahul",23:"Darshan",12:"Dhaval",45:"Rahul",11:"Dipam",99:"Darshan",27:"Vishnu"}
tup = sorted(d.items(), key = lambda x: x[1], reverse = False)

print('\nPreserve the order of insertion')
for elements in tup:
    print(elements[0],"::",elements[1])

#sorted and sort can be applied on list,tuples, sets etc
print('\nSorting on List')
lst = [12,11,1,23,43,87,98]
lst = sorted(lst, reverse = True)
print(lst)

Lambda Function
13
Sorted on keys
11 :: Dipam
12 :: Dhaval
23 :: Darsh
45 :: Manish
67 :: Rahul
99 :: Darshan
Sorted on first values and then keys

23 :: Darsh
99 :: Darshan
12 :: Dhaval
11 :: Dipam
45 :: Manish
67 :: Rahul

Preserve the order of insertion
23 :: Darshan
99 :: Darshan
12 :: Dhaval
11 :: Dipam
67 :: Rahul
45 :: Rahul
27 :: Vishnu

Sorting on List
[98, 87, 43, 23, 12, 11, 1]

# Counters alternative for Dictionary

In [0]:
 from collections import Counter
color = ['blue','blue','red','yellow','green','red']
z = Counter(color)
print('Type ',type(z))
print(z)

#Can be initialized like this also
coun = Counter(a=1, b=2, c=3, d=120, e=1, f=219)
print('\nMost frequent occuring letters using Counters')
for letter,count in coun.most_common(3):
    print('%s %d' %(letter,count))

print('Convert counters to List')
coun = Counter(a=1, b=2, c=3) 
print(list(coun.elements()))

Type  <class 'collections.Counter'>
Counter({'blue': 2, 'red': 2, 'yellow': 1, 'green': 1})

Most frequent occuring letters using Counters
f 219
d 120
c 3
Convert counters to List
['a', 'b', 'b', 'c', 'c', 'c']

**Tasks for coming weeks**

*   Explore map,filter,apply data
*   Make yourself Familiar with imports like os,time,datetime,math.
*   Assignment will be released soon, involves heavy use of dictionary and mentioned imports.

# Congratulations on making till the end!